.header {
  max-width: 984px;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  flex-direction: column;
  max-width: 254.84px;
  align-items: center;
  font-weight: bold;
  font-size: 12.45px;
  margin: 34px auto 91px;
}

.header__logo-image {
  height: 32px;
  width: 32px;
  margin-bottom: 22px;
}

.header__lead {
  margin: 0 auto 64px;
}

.header__lead-title {
  max-width: 720px;
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
}

.header__lead-subtitle {
  max-width: 720px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin: auto;
}

.header__image {
  max-width: 984px;
  box-shadow: 5px 5px 10px 0px #00000040;
}

@media screen and (max-width: 768px) {
  .header__logo-image {
    width: 32px;
    height: 30px;
  }

  .header__logo {
    top: 30px;
  }
  .header__lead {
    margin: 0 auto 30px;
    width: calc(100% - 48px);
  }
  .header__lead-title {
    font-family: Inter;
    font-size: 75px;
    font-weight: 900;
    line-height: 79px;
    text-align: center;
    margin: 0 auto 25px;
  }
  .header__image {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo-image {
    width: 23.69px;
    height: 23.77px;
  }
  .header__lead {
    margin: 0 auto 40px;
    width: calc(100% - 48px);
  }

  .header__lead-title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    margin: 0 auto 16px;
  }
  .header__lead-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}
