.places {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.places__place {
  display: grid;
  grid-template-columns: 46% 48%;
  grid-template-rows: auto 460px auto;
  grid-column-gap: 6%;
  margin: 0 auto 80px;
}

.places__place-title {
  font-family: Inter;
  font-size: 68px;
  font-weight: 900;
  text-align: left;
  height: 152px;
  padding-right: 20px;
  padding-bottom: 48px;
  display: flex;
  height: auto;
  align-items: flex-end;
  line-height: normal;
}

.places__artists {
  padding-bottom: 48px;
  display: grid;
  margin-top: auto;
}

.places__url {
  color: #aaaaaa;
  margin-bottom: 8px;
}

.places__artist {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.places__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px 0px #00000040;
}

.places__image-container {
  width: 100%;

  position: relative;
  display: inline-block;
  object-fit: cover;
}

.places__image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.places__image-container:hover::before {
  opacity: 0.5;
}

.places__paragraphs {
  grid-column: 2/3;
  grid-row: 2/4;
}

.places__paragraph {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  margin-bottom: 25px;
}

.places__paragraph:last-of-type {
  margin: 0;
}

.places__nft {
  max-width: 289px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  display: grid;
  place-items: center;
  margin-top: 48px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px #00000040;
  font-family: Inter;
}

.places__nft:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 900px) {
  .places__place {
    grid-template-rows: auto 20% auto;
  }
}

@media screen and (max-width: 600px) {
  .places__place {
    display: block;
    margin: 0 auto 50px;
    padding: 0;
  }

  .places__image-container {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-bottom: 20px;
  }
  .places__image {
    box-shadow: none;
  }
  .places__paragraphs {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .places__place-title,
  .places__artists,
  .places__paragraphs,
  .places__nft {
    width: calc(100% - 32px);
    margin: 0 auto;
  }

  .places__paragraphs {
    margin-bottom: 30px;
  }

  .places__place-title {
    font-size: 50px;
  }

  .places__place-title,
  .places__artists {
    padding: 0;
    margin-bottom: 20px;
  }
}
