@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/intro.css);
@import url(../blocks/footer.css);

@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-4.0/InterVariable.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Inter Italic";
  src: url(./fonts/Inter-4.0/InterVariable-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}
